{{#each model.data.children as |event|}}
	<div class="event">
		<div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="_bt1 _pts">
          <div class="row">
          	<div class="col-md-8">
          		<h3>{{event.data.title}}</h3>
          	</div>
            <div class="col-md-2">
              <p><strong>Ups: </strong>{{event.data.ups}}</p>
            </div>
            <div class="col-md-2">
              <p><strong>Downs: </strong>{{event.data.downs}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
            	<p><strong>Domain: </strong><em>{{event.data.domain}}</em></p>
            </div>
            <div class="col-md-4">
              {{#if event.data.num_comments}}
                <p><strong>Num Comments: </strong>{{event.data.num_comments}}</p>
              {{else}}
                 <p>No comments.</p>
              {{/if}}
            </div>
          </div>
          {{#if event.data.thumbnail}}
            <img src={{event.data.thumbnail}}>
          {{else}}
            <p>No comments.</p>
            <img src="http://www.logimine.com/wp-content/themes/linstar/assets/images/default.jpg">
          {{/if}}
        </div>
      </div>
    </div>
	</div>
	<hr>
{{/each}}